---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import LangToggle from './LangToggle';
import Link from './Link.astro';
import { Icon } from 'astro-icon/components';
import { getRelativeLocaleUrl } from 'astro:i18n';
import ThemeToggle from './ThemeToggle';

const lang = getLangFromUrl(Astro.url);
const translation = useTranslations(lang);
---

<nav class='flex items-center justify-between gap-4 py-4'>
  <div class='flex items-center justify-between gap-3 px-2'>
    <Link
      href={getRelativeLocaleUrl(lang, '/')}
      underline={false}
      subClass='rounded-sm p-2 hover:bg-accent-soft'
      aria-label='Index'
    >
      <div class='flex items-center gap-2'>
        <Icon name='material-symbols:home-outline-rounded' size={24} />
      </div>
    </Link>
    <Link
      href={getRelativeLocaleUrl(lang, '/archive')}
      underline={false}
      subClass='rounded-sm p-2 hover:bg-accent-soft'
      aria-label='Archive'>{translation('nav.archive')}</Link
    >
  </div>
  <div class='flex items-center justify-between gap-2 px-2'>
    <Link
      href='https://www.last.fm/user/AjunieZeng'
      external={true}
      underline={false}
      subClass='rounded-sm p-1 hover:bg-accent-soft'
      aria-label='last.fm'
    >
      <div class='flex items-center'>
        <Icon name='simple-icons:lastdotfm' size={18} />
      </div>
    </Link>
    <Link
      href='https://steamcommunity.com/profiles/76561198819216883/'
      external={true}
      underline={false}
      subClass='rounded-sm p-1 hover:bg-accent-soft'
      aria-label='Steam'
    >
      <div class='flex items-center'>
        <Icon name='simple-icons:steam' size={18} />
      </div>
    </Link>
    <Link
      href='https://bsky.app/profile/ajunie.com'
      external={true}
      underline={false}
      subClass='rounded-sm p-1 hover:bg-accent-soft'
      aria-label='BlueSky'
    >
      <div class='flex items-center'>
        <Icon name='simple-icons:bluesky' size={18} />
      </div>
    </Link>
    <Link
      href='https://github.com/ajuniezeng'
      external={true}
      underline={false}
      subClass='rounded-sm p-1 hover:bg-accent-soft'
      aria-label='GitHub'
    >
      <div class='flex items-center'>
        <Icon name='simple-icons:github' size={18} />
      </div>
    </Link>
    <Link
      href='mailto:contact@ajunie.com'
      external={true}
      underline={false}
      subClass='rounded-sm p-1 hover:bg-accent-soft'
      aria-label='Email'
    >
      <div class='flex items-center'>
        <Icon name='material-symbols:mail' size={20} />
      </div>
    </Link>
    <ThemeToggle client:only />
    <LangToggle client:only />
  </div>
</nav>
